.player {
  position: fixed;
  inset: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: var(--color-dark-600);
  color: var(--color-light-200);

  & > * {
    z-index: 110;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3.5rem;

    display: flex;
    flex-direction: row;

    .close-btn {
      fill: white;
      opacity: 0.8;
      width: 1.5rem;
      height: 1.5rem;
      padding: 1rem;
    }

    .track-block {
      display: flex;
      flex: 1;
      flex-direction: row;
      align-items: center;

      height: 2.5rem;
      padding: 0.5rem 0;

      .cover-image {
        flex-shrink: 0;
        width: 2.5rem;
        height: 2.5rem;
      }

      .text-block {
        flex: 1;
        padding: 0.25rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title,
        .artist {
          overflow: hidden;
        }

        .title {
          font-weight: bold;
          font-size: 1rem;
        }

        .artist {
          font-size: 0.9rem;
          opacity: 0.5;
        }
      }
    }

    .fav-btn {
      fill: white;
      opacity: 0.8;
      width: 1.5rem;
      height: 1.5rem;
      padding: 1rem;
    }
  }

  .background {
    position: absolute;
    inset: 0;
    z-index: 101;
    background: linear-gradient(to bottom, #141c2f, #213b54);
  }

  .lyrics {
    margin-top: 5rem;
    font-size: 1.9rem;
    color: white;
    font-weight: bold;
    padding: 0 1rem;
    z-index: 108;

    .line {
      opacity: 0.5;
      margin-bottom: 1rem;

      &.current {
        opacity: 1;
      }
    }
  }

  .mask {
    position: fixed;
    inset: 0;
    z-index: 109;
    background: linear-gradient(to bottom, #141c2f, #213b54);
    mask-image: url("./mask-long.png");
    mask-position: 0 calc(-1 * var(--offset, 0));
    mask-repeat: no-repeat;
  }

  .controls {
    position: fixed;
    bottom: var(--offset, 0);
    left: 0;
    right: 0;

    .timeline {
      padding: 0 1rem;

      .slider {
        --height: 4px;
        position: relative;
        width: 100%;
        border-radius: 2px;
        height: var(--height);
        background-color: hsla(0, 0%, 100%, 0.5);
        margin-bottom: 0.8rem;

        .knob {
          --icon-size: 1rem;
          position: absolute;
          top: calc((var(--height) - var(--icon-size)) * 0.5);
          left: calc(var(--progress, 0%) - var(--icon-size) * 0.5);
          height: var(--icon-size);
          width: var(--icon-size);
          border-radius: 100%;
          background-color: hsla(0, 0%, 100%, 1);
        }

        .progress {
          border-radius: 2px;
          height: 100%;
          width: var(--progress, 0%);
          background-color: hsla(0, 0%, 100%, 1);
        }
      }

      .times {
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: 0.8rem;
        opacity: 0.3;
      }
    }

    .queue-controls {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0.5rem 2rem;

      .icon {
        fill: white;
        flex-shrink: 0;
      }

      .shuffle-btn,
      .repeat-btn {
        --icon-size: 1.25rem;
      }

      .prev-btn,
      .next-btn {
        width: 2rem;
        height: 2rem;
      }

      .prev-btn {
        margin-left: auto;
      }

      .next-btn {
        margin-right: auto;
      }

      .play-btn {
        width: 3rem;
        height: 3rem;
        margin: 0 1rem;
      }
    }

    .bottom-menus {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 1.5rem;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;

      .btn {
        --btn-size: 2.5rem;
        --icon-size: 1.25rem;
        padding: calc((var(--btn-size) - var(--icon-size)) * 0.5);
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: var(--btn-size);
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          fill: white;
          flex-shrink: 0;

          width: var(--icon-size);
          height: var(--icon-size);
        }

        &.center {
          line-height: var(--icon-size);
          font-weight: bold;
          font-size: 1rem;
          --pad: 1.5rem;
          padding-left: var(--pad);
          padding-right: var(--pad);
        }
      }
    }
  }
}
