.bottom-nav-bar {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  height: 3.5rem;

  background-color: hsl(226, 17%, 15%);
  border-top: 1px solid hsl(226, 17%, 20%);

  .tab-btn {
    height: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    --opacity: 0.4;

    &.active {
      --opacity: 0.8;
    }

    .icon {
      opacity: var(--opacity);
      fill: white;
      width: 1.5rem;
    }

    .title {
      opacity: var(--opacity);
      fill: white;
      margin-top: 0.3rem;
      font-size: 0.7rem;
    }
  }
}
